.heading{
    font-size:24px;
    font-weight:500;
}
.sub-heading{
    font-size:14px;
    background-color:lightyellow;
    padding:5px;
}
.add-button{
    text-align: right;
}
table{
    width:100%;
}
.todoList{
    padding-top:2%;
}
.table-headings{
    border-bottom:black solid 2px;
}
.table-heading{
    font-size: 13px;
    padding:15px;
    font-weight: bold;
    text-align:left;

}
.input-box{
    border:none;
    border-bottom:solid 2px black;
    outline:none;
    margin-bottom:20px;
}
.input-view{
    text-align: center;   
}
#button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    background: #fff;
    border: 2px solid green;
    color:green;
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    
    cursor: pointer;
    transition: all 0.25s ease;
     }
     #button:hover {
        color:white;
        background: green;
      }
      #button:active {
        letter-spacing: 2px;
        letter-spacing: 2px ;
      }
      #button:after {
        content:"SUBMIT";
      }
   

  .onclic {
    width: 40px;
    border-color:gray;
    border-width:3px;
    font-size:0;
    border-left-color:green;
    animation: rotating 2s 0.25s linear infinite;
  
  }

.onclic:after {
    content:"";
  }
.onclic:hover {
    color:green;
    background: white;
  }

  .validate {
    font-size:13px;
    color: white;
    background: green;
  }
  .validate:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }


  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }